<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-150378045-3"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-150378045-3");
  </script>

  <link rel="stylesheet" href="/css/style.css" />
  <script type="text/javascript" src="jquery-3.5.1.min.js"></script>
  <script
    type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  ></script>
  <script type="text/javascript" src="js/matching.js"></script>
</head>

<title>OmegU</title>

<body>
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="">OmegU</a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img
              class="img-responsive img-rounded"
              src="assets/img/bird.jpg"
              alt="User picture"
            />
          </div>
          <div class="user-info">
            <span class="user-name colorz2"><%=name%></span>
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Online</span>
            </span>
          </div>
        </div>

        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>Profile</span>
            </li>

            <li class="sidebar-dropdown">
              <a href="/dashboard/profile">
                <!--EDIT THIS FOR REDIRECTION-->
                <i class="fa fa-user"></i>
                <span>My Profile</span>
                <!-- <span class="badge badge-pill badge-danger">3</span> -->
              </a>
            </li>

            <!-- <li class="sidebar-dropdown"> -->
            <!-- <a href="#">    EDIT THIS FOR REDIRECTION -->
            <!-- <i class="fa fa-user"></i> -->
            <!-- <span >My Profile</span> -->
            <!-- <span class="badge badge-pill badge-danger">3</span> -->
            <!-- </a> -->

            <!-- </li> -->

            <li class="header-menu">
              <span>Actions</span>
            </li>
            <li>
              <a href="/dashboard/home">
                <i class="fa fa-home"></i>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="/users/logout">
                <i class="fas fa-share-square"></i>
                <span>Log Out</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container centerMe">
        <!--IF THE GET WORKS PROPERLY, THIS CHANGED TO USE BODYCONTENT.EJS AS PARTIAL-->

        <%- include('./partials/bodyContent.ejs') %>
      </div>
    </main>
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->

  <script>
    window.addEventListener("beforeunload", function (e) {
      const rawResponse = fetch("/users/logout", {
        method: "GET",
        headers: {
          Accept: "application/json",
        },
      });
      e.preventDefault();
      e.returnValue = "";
    });
  </script>

  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/interestItemScript.js"></script>

  <!--Script to make program dropdown list dependent on faculty dropdown-->
  <script type="text/javascript" src="js/profileItemScript.js"></script>
  <script>
    $(window).off("beforeunload");
  </script>
</body>
