<html lang="en"></html>
<head>
  <script type="text/javascript" src="jquery-3.5.1.min.js"></script>
  <script
    type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  ></script>
  <link href="../assets/css/style3.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/style2.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet"
  />
</head>

<title>OmegU</title>
<body style="background-color: #0093e9; font-family: 'Poppins', sans-serif;"
<!-- ======= Header ======= -->
  <header
    id="header"
    class="fixed-top d-flex align-items-center header-transparent"
  >
    <div class="container d-flex align-items-center">
      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html"><span>OmegU</span></a></h1> -->

        <a href="/"
          ><img src="/assets/img/test12.png" alt="" class="img-fluid"
        /></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#details">Inspiration</a></li>
          <li><a href="/#video">Demo Video</a></li>
          <li><a href="/#team">Team</a></li>
          <!--ADD LINKS HERE TO LINK TO SIGNUP/LOGIN PAGE -->
          <li><a href="/users/login">Log In</a></li>
          <li>
            <a id="signup" href="/users/register"><b>Sign Up</b></a>
          </li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </div>
  </header>
  <!-- End Header -->
  <h2 id="title">
    <br /><br />
    We have sent a verification code to your email. <br />Please check your
    email and enter the code here. <br /><br />
  </h2>
  <div id="form">
    <form id="innerform" action="/users/verify" method="POST">
      <div class="form-group" style="text-align: left;">
        <%- include('./partials/messages.ejs') %>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Re-enter Your Email"
        />
      </div>
      <div class="form-group" style="text-align: left;">
        <label for="password">Verification Code</label>
        <input
          type="pin"
          id="pin"
          name="pin"
          class="form-control"
          placeholder="Enter Your 6 Digit Code Here"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-block"
        style="
          font-size: 1.2rem;
          margin-top: 2rem !important;
          width: 25%;
          margin: 0 auto;
        "
      >
        Verify
      </button>
    </form>

    <form id="bottom-form" action="/users/verify" method="POST">
      <div class="form-group">
        <label for="email">Didn't get the Code? </label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter your email"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block">
        Re-send Verification Code
      </button>
    </form>
  </div>
</body>
