<head>
  <link rel="stylesheet" href="/css/style.css" />
  <script type="text/javascript" src="jquery-3.5.1.min.js"></script>
  <script
    type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  ></script>
  <script type="text/javascript" src="js/matching.js"></script>

 

<title>OmegU</title>
<body>
  <p> We have sent an email with a unique code to your email. Please check it and enter the pin number here</p>
</body>
</head>
