<html lang="en">
   <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150378045-3"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         
         gtag('config', 'UA-150378045-3');
      </script>
      <script data-ad-client="pub-9487294617555780" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Wave | Connecting First-Year Students, Virtually</title>
      <meta content="Wave is a web platform that connects incoming first-year university students from the same university. By placing users in one-on-one chats with other students who are either in their program or share common interests, Wave allows meaningful friendships to be formed, despite the lack of in-person activities associated with one’s first year of university.
      " name="description">
      <meta content="Wave, university, college, freshman, first-year, student, university of waterloo, university of toronto, chat, chatting, connect, friendship, friends, meet new people, people, meet, online classes" name="keywords">
      <!-- Favicons -->
      <link href="https://i.ibb.co/fpsZ5f4/favicongood.png" rel="icon">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      <!-- Vendor CSS Files -->
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
      <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
      <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
      <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
      <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
      <link href="assets/vendor/aos/aos.css" rel="stylesheet">
      <!-- Template Main CSS File -->
      <link href="assets/css/style2.css" rel="stylesheet">
      <!--Font Awesome-->
      <script src="https://kit.fontawesome.com/2c97066e56.js" crossorigin="anonymous"></script>
      <!-- =======================================================
         * Template Name: Bootslander - v2.2.0
         * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
         * Author: BootstrapMade.com
         * License: https://bootstrapmade.com/license/
         ======================================================== -->
   </head>
   <body class = "body">
      <!-- ======= Header ======= -->
      <header id="header" class="fixed-top d-flex align-items-center header-transparent">
         <div class="container-fluid d-flex align-items-center">
            <div class="logo mr-auto">
               <!-- <h1 class="text-light"><a href="index.html"><span>Wave</span></a></h1> -->
               <a href=""><img src="assets/img/logo3.png" alt="" class="img-fluid"></a>
            </div>
            <nav class="nav-menu d-none d-lg-block">
               <ul>
                  <li class="active"><a href="">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#details">Inspiration</a></li>
                  <li><a href="#video">Demo Video</a></li>
                  <li><a href="#team">Team</a></li>
                  <!--ADD LINKS HERE TO LINK TO SIGNUP/LOGIN PAGE -->
                  <li><a href="/users/login">Log In</a></li>
                  <li><a id = "signup" href="/users/register"><b>Sign Up</b></a></li>
               </ul>
            </nav>
            <!-- .nav-menu -->
         </div>
      </header>
      <!-- End Header -->
      <div class ="wrapper2">
         <!-- ======= Hero Section ======= -->
         <section id="hero">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                     <div data-aos="zoom-out">
                        <h1> Get Connected With  <span>Wave</span></h1>
                        <h2 style="margin-bottom: 0.5vh;">Our platform helps first-year university students connect in light of the COVID-19 Pandemic </h2>
                        <p class = "beta">Launching Beta version for University of Waterloo students soon</p>
                        <div class="text-center text-lg-left">
                           <a href="/users/register" class="btn-get-started scrollto">Get Started</a>
                           <a href="https://forms.gle/L4p3159ZXdR8W7Z57"target="_blank" class="btn-get-started scrollto">Not a UWaterloo Student?</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                     <img src="assets/img/omeguiconlight.png" class="img-fluid animated" alt="">
                  </div>
               </div>
            </div>
            <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
               <defs>
                  <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
               </defs>
               <g class="wave1">
                  <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
               </g>
               <g class="wave2">
                  <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
               </g>
               <g class="wave3">
                  <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
               </g>
            </svg>
         </section>
         <!-- End Hero -->
      </div>
      <main id="main">
         <!-- ======= About Section ======= -->
         <section id="about" class="about">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch" data-aos="fade-right">
                     <img src="assets/img/test7.jpg" class="img-fluid animated" alt="">
                     <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
                  </div>
                  <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
                     <h3>We believe in the power of friendship. Our goal is to connect like-minded first-year students.</h3>
                     <p>In light of the COVID-19 Pandemic, it is now increasingly difficult for first-year students to interact with others, as most university experiences will be taking place online. With Wave, this is no longer a problem.</p>
                     <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title">Unique and Inclusive Matching Algorithm</a></h4>
                        <p class="description">We connect two users based on many factors: university, program, interests, and more! More importantly, we do not factor in age, appearance, gender or race. We believe everyone deserves a friend! </p>
                     </div>
                     <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class="icofont-lock"></i></div>
                        <h4 class="title">University Students Only</a></h4>
                        <p class="description">Your privacy and safety matters. We authenticate each user to ensure they belong to a valid university.</p>
                     </div>
                     <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class="icofont-video"></i></div>
                        <h4 class="title">One on One Text and Video </a></h4>
                        <p class="description">We integrated text and video chat so that you can have the best friend-making experience possible!</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End About Section -->
         <!-- ======= Details Section ======= -->
         <section id="details" class="details">
            <div class="container-fluid">
               <div class="row content">
                  <div class="col-md-4" data-aos="fade-right">
                     <img src="assets/img/details-1.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-8 pt-4" data-aos="fade-up">
                     <h3><b>Inspiration and Purpose</b></h3>
                     <p class="font-italic">
                        As a team of incoming first-year university students, we understand the challenges faced with making new friends during times like these.
                     </p>
                     <p> 
                        With the pandemic situation, most students will be studying online in the fall. This poses a major problem: meeting new people. Things like going to orientation
                        and creating new friend groups are now impossible. Wave effectively solves these problems!
                        <br> </br>
                     </p>
                     <ul>
                        <li><i class="icofont-check"></i> Creates a safe and private space for users to interact</li>
                        <li><i class="icofont-check"></i> Break the shyness barrier by automatically matching two people who have much in common</li>
                        <li><i class="icofont-check"></i> Has a text-only option to ease users into the conversations</li>
                        <li><i class="icofont-check"></i> Video chat integration to further cultivate friendships</li>
                        <li><i class="icofont-check"></i> Ability to share personal social media to grow the friendships after the initial meet on Wave</li>
                        <li><i class="icofont-check"></i> Supported on desktop versions of Chrome, Firefox, Edge</li>
                     </ul>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Details Section -->
         <section id="video" >
           <div class = "container-fluid">
            <div class = "video-section" data-aos = "fade-up">
              <h3 class = "demo-title"><b>Demo Video</b></h3>
              <p class="font-italic">
                 Check out the video below to see how Wave works!         
              </p>
              <p>
                 <!--
                    <div class = "video">
                      <iframe width="916" height="515" src="https://www.youtube.com/embed/6X2woerXQD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
                    -->
           
                    <div class="video-container">
                      <div class = "inner-div">
                     <iframe width="916" height="515" src="https://www.youtube.com/embed/6X2woerXQD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
                   </div>            
          
           </div>
           </div>
            
         </section>
         <!-- ======= Team Section ======= -->
         <section id="team" class="team">
            <div class="container-fluid">
               <div class="section-title" data-aos="fade-up">
                  <h2>Team</h2>
                  <p>Our Team of Six</p>
               </div>
               <div class="row">
                  <div class="col-lg-4 col-md-6">
                     <div class="member" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pic"><img src="assets/img/adam.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                           <h4>Adam Lam</h4>
                           <span>Co-Founder and Full Stack Developer</span>
                           <div class="social">
                              <a href="https://github.com/Adam2611" class="github"> <i class="fab fa-github"></i></a>
                              <a href="http://linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                              <a href="http://facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                              <a href="http://instagram.com/wavechat.tech" class="instagram"><i class="bx bxl-instagram"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                     <div class="member" data-aos="zoom-in" data-aos-delay="200">
                        <div class="pic"><img src="assets/img/matthew.JPG" class="img-fluid" alt=""></div>
                        <div class="member-info">
                           <h4>Matthew Jiao</h4>
                           <span>Co-Founder and Full Stack Developer</span>
                           <div class="social">
                              <a href="https://github.com/MatthewJiao" class="github"> <i class="fab fa-github"></i></a>
                              <a href="https://www.linkedin.com/in/matthew-jiao-57004519b/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                              <a href="https://www.facebook.com/profile.php?id=100013107662591" class="facebook"><i class="bx bxl-facebook"></i></a>
                              <a href="https://www.instagram.com/matthew.jiao/" class="instagram"><i class="bx bxl-instagram"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
                     <div class="member" data-aos="zoom-in" data-aos-delay="300">
                        <div class="pic"><img src="assets/img/nicholas.JPG" class="img-fluid" alt="" ></div>
                        <div class="member-info">
                           <h4>Nicholas Tao</h4>
                           <span>Co-Founder and Full Stack Developer</span>
                           <div class="social">
                              <a href="https://github.com/nicholas-tao" class="github"><i class="fab fa-github"></i></a>
                              <a href="https://linkedin.com/in/nicholastao" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                              <a href="http://facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                              <a href="http://instagram.com/wavechat.tech" class="instagram"><i class="bx bxl-instagram"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
                     <div class="member" data-aos="zoom-in" data-aos-delay="400">
                        <div class="pic"><img src="assets/img/Webp.net-resizeimage.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                           <h4>Rishabh Sambare</h4>
                           <span>Co-Founder and Full Stack Developer</span>
                           <div class="social">
                              <a href="https://github.com/rishabhsamb" class="github"> <i class="fab fa-github"></i></a>
                              <a href="http://linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                              <a href="http://facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                              <a href="http://instagram.com/wavechat.tech" class="instagram"><i class="bx bxl-instagram"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
                     <div class="member" data-aos="zoom-in" data-aos-delay="500">
                        <div class="pic"><img src="assets/img/tristan-square.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                           <h4>Tristan Lam</h4>
                           <span>Co-Founder and Full Stack Developer</span>
                           <div class="social">
                              <a href="https://github.com/tlam67" class="github"> <i class="fab fa-github"></i></a>
                              <a href="http://linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                              <a href="https://www.facebook.com/tristan.lam.1422 " class="facebook"><i class="bx bxl-facebook"></i></a>
                              <a href="https://www.instagram.com/tristan.laam/" class="instagram"><i class="bx bxl-instagram"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
                     <div class="member" data-aos="zoom-in" data-aos-delay="500">
                        <div class="pic"><img src="assets/img/aditya.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                           <h4>Aditya Naithani</h4>
                           <span>Graphic Designer</span>
                           <div class="social">
                              <a href="https://github.com" class="github"> <i class="fab fa-github"></i></a>
                              <a href="https://www.linkedin.com/in/aditya-naithani/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                              <a href="https://www.facebook.com " class="facebook"><i class="bx bxl-facebook"></i></a>
                              <a href="https://www.instagram.com/wavechat.tech" class="instagram"><i class="bx bxl-instagram"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>   
                  </div>           
            </div>
         </section>
         <!-- End Team Section -->
      </main>
      <!-- End #main -->
      <!-- ======= Footer ======= -->
      <footer id="footer">
         <div class="footer-top">
            <div class="container-fluid full-width">
               <div class="row">
                  <div class="col-lg-6 col-md-6">
                     <div class="footer-info">
                        <h3>Wave</h3>
                        <p class="pb-3"><em>Feel free to contact us!</em></p>
                        <p>
                           Based in Toronto, Canada<br><br>
                           <strong>Email:</strong> wavechat.team@gmail.com<br>
                        </p>
                        <div class="social-links mt-3">
                           <!--<a href="http://twitter.com" class="twitter"><i class="bx bxl-twitter"></i></a> -->
                           <a href="http://facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                           <a href="http://instagram.com/wavechat.tech" class="instagram"><i class="bx bxl-instagram"></i></a>
                           <!--<a href="http://skype.com" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                           <a href="https://www.linkedin.com/company/65702778" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 footer-links" id = "footerlink">
                     <div id = "innerFooter">
                        <h3><b>Useful Links</b> <br></br> </h3>
                        <ul>
                           <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                           <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                           <li><i class="bx bx-chevron-right"></i> <a href="#details">Inspiration</a></li>
                           <li><i class="bx bx-chevron-right"></i> <a href="#video">Demo Video</a></li>
                           <li><i class="bx bx-chevron-right"></i> <a href="#team">The Team</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="copyright">
               &copy; Copyright <strong><span>Wave Chat</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
               <!-- All the links in the footer should remain intact. -->
               <!-- You can delete the links only if you purchased the pro version. -->
               <!-- Licensing information: https://bootstrapmade.com/license/ -->
               <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
               Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
         </div>
      </footer>
      <!-- End Footer -->
      <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
      <div id="preloader"></div>
      <!-- Vendor JS Files -->
      <script src="assets/vendor/jquery/jquery.min.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
      <script src="assets/vendor/venobox/venobox.min.js"></script>
      <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
      <script src="assets/vendor/counterup/counterup.min.js"></script>
      <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
      <script src="assets/vendor/aos/aos.js"></script>
      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>
   </body>
