.h2{
    text-align:center;
}

#title{
    text-align:center;
}

#form{
    text-align:center;
}

#innerform{
    width:50%;
    display:inline-block;
}

#bottom-form{
    display:inline-block;
    /* width:50%; */
    position:absolute;
    bottom:10px;
    right:10px;
}